/History/
/Project Logs for CPLD_Breakout/
/__Previews/
/Project Outputs for CPLD_Breakout_V3/
/CPLD_Breakout_V3_Jig 3-01-2020 12-21-25 PM/
/CPLD_Breakout_V3_Straight 10-01-2020 8-12-05 PM/
/CPLD_Breakout_V3 3-01-2020 12-04-30 AM/
/Project Outputs for CPLD_Breakout/
/CPLD_Breakout_V3_Jig 3-01-2020 12-21-25 PM.zip
/CPLD_Breakout_V3_Straight 10-01-2020 8-12-05 PM.zip
